  /*exercicio 1*/
  h1 {
    font-family: sans-serif;
}

/*exercicio 2*/
.changep {
    font-weight: 600px;
}

/*exercicio 3*/
body{
    font-size: 16px;
}

/*exercicio 4*/
.changep{
    font-size: 3em;
}

/*exercicio 5*/
.changep{
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

/*exercicio 6*/
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}

